.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
    background-color: #f5f5f5;
}

.answers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:2rem;
    

}
.question{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
    width: 50%;
    margin-top: 3rem;

}
.answer1{
   width: 90px;
   height: 50px;
    background-color: #61dafb;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    border-radius: 10px;
    cursor: pointer;
    font-size: 25px;
}
.answer2{
    width: 90px;
    height: 50px;
    background-color: #61dafb;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 25px;
 }

.answer1:hover{
    background-color: #61dafb;
    color: white;
    transform: scale(1.1);
}
.answer2:hover{
    background-color: #61dafb;
    color: white;
    transform: scale(1.1);
}
.docs{
    display: flex;
    
    justify-content: center;
    gap: 4rem;
    border-top: 1px solid black;
    margin-top: 50px;
}
.yapilacaklar{
    border-left: 1px solid;
    border-right: 1px solid;
}
.ormanTedbir div{
    margin:5px;
}
.yapilacak div{
    margin:5px;
}
.hazir div{
    margin:5px;
}

h3 {
    border-bottom: 1px solid ;
}
.hazirlanacak div div{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    transition: all 0.3s;
}
.hazirlanacak div:hover{
transform: scale(1.1);
}
.yapilacaklar div div{
    display: flex;
    align-items: center;
    

    border: 1px solid;
    border-radius: 10px;
    transition: all 0.3s;
}
.orman div div{
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    transition: all 0.3s;
}
.yapilacaklar div:hover{
transform: scale(1.1);
}
.orman div:hover{
transform: scale(1.1);
}
.startButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
    height: 80px;
    background-color: #ffe1e17a;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    
}
.start{
  
    width: auto;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 25px;
    background-color: #f1a4a4;
}
.start:hover{
    background-color: #c0bd9c;
    color: white;
    transform: scale(1.1);
}